@import "sass/main";
// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

.is-text-highlighted {
  font-family: "Raleway", serif;
  font-style: normal;
  font-weight: 400;
  // text-align: justify;
}

// Update Bulma's global variables
$family-sans-serif: "Raleway",
sans-serif;
$dimensions: 16 24 32 48 64 96 128 256 512;
$pink: #fac39b;
// $pink: darken(#FFDDA6;
$tabs-toggle-link-active-background-color:$pink;
$tabs-toggle-link-active-border-color: darken($pink, 5%);
$primary: $pink;
$link: $pink;
// $white-bis: #eae7dc;
// $white-ter: #eae7dc;
// $text: #8d8e8a;
// $text-strong: darken($text, 5%);

@charset "utf-8";

@import "bulma";

// Import Extensions
@import "~bulma-extensions/bulma-checkradio/src/sass/index";
@import "~bulma-extensions/bulma-timeline/src/sass";
@import "~bulma-extensions/bulma-tagsinput/src/sass";

div.special-icon {
  width: 32px !important;
  height: 32px !important;
  background-color: #f5f5f5 !important;
  border-color: #f5f5f5 !important;
}

.hero.is-fullheight.items-top .hero-body {
  align-items: flex-start;
}

#hero {
  // background-image: url(./assets/images/bg.jpg);
  background-image: url(./assets/images/bg-10.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #A1C5E1;

  @media (max-width: 768px) {
    background-image: url(./assets/images/bg-10-mobile.jpg);
    background-position-x: 80%;
  }

  h1 {
    font-family: "Bebas Neue", Arial, Helvetica, cursive;
    word-spacing: 1rem;
    letter-spacing: 0.45rem;
    text-shadow: 1px 1px 5px #010101;
    color: #f9f7e7;

    &.is-hidden-tablet {
      word-spacing: normal;
      letter-spacing: normal;
      letter-spacing: 0.40rem;
    }
  }

  h2 {
    text-shadow: 1px 1px 5px #010101;
    color: #f9f7e7;
  }

  // h6{
  //   text-shadow: 1px 1px 5px #010101;
  //   color: #f9f7e7;

  // }
}

.icon {
  &.icon-and {
    background-color: $primary;
    padding: 0.6em;

    &.is-rounded {
      border-radius: 50%;
    }
  }
}

.is-size-xl {
  font-size: 5rem;

  &-1 {
    font-size: 4rem;
  }
}

.is-marginless {
  &-mobile {
    @media (max-width: 768px) {
      margin: 0 !important;
    }
  }
}

.is-radiusless {
  &-mobile {
    @media (max-width: 768px) {
      border-radius: 0 !important;
    }
  }
}

.p {
  &x {
    &-3 {
      padding-right: 3rem;
      padding-left: 3rem;
    }
  }
}