@import "sass/main";
@import "bulma";

#hero {
  background-image: url(./assets/images/bg-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.icon {
  &.icon-and {
    background-color: $primary;
    padding: .6em;

    &.is-rounded {
      border-radius: 50%;
    }
  }
}

.hero {
  .hero-body {
    .title {
      &.is-size-xl {
        font-size: 5rem;
      }
    }
  }
}